@import 'bootstrap/scss/functions';

@import './variables';

@import 'bootstrap/scss/bootstrap';

@import './utilities/utilities';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import './components/card';
@import './layouts/navbar';
@import './layouts/footer';
@import './layouts/compare';


@import './pages/product-list';