@import 'bootstrap/scss/functions';

@import './variables';

@import 'bootstrap/scss/bootstrap';

@import './utilities/utilities';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import './mixin';

@import './layouts/navbar';
@import './layouts/footer';

@import './pages/home.scss';