@import '@/assets/scss/_config.scss';

.cartButton {
  z-index: 2;
  &:global(.btn) {
    background-color: $primary-300;
    color: $white;
    border: none;
    &:hover {
      background-color: $primary-200;
      color: $white;
    }
  }
}

.compareButton {
  z-index: 2;
  &:global(.btn) {
    background-color: $gray-100;
    color: $black;
    border: 1px solid $gray-200;
    &:hover {
      background-color: $primary-100;
      color: $primary-400;
      border-color: $primary-300;
    }
  }
}