.multiLineTruncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.productCard {
    box-shadow: 0px 4px 80px 0px rgba(178, 178, 178, 0.2);
}
.card button, .certifyLink {
  z-index: 2;
}