@import '@/assets/scss/helpers';

.slideWrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.blackScreen {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1;
	}
}
.heroImg {
	width: 100%;
	height: 560px;
	object-fit: cover;
	display: block;
	@include large {
		height: 960px;
	}
}

.heroContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	min-height: 195px;
}

.wave {
	background-image: url('./assets/mobile-wave.png');
	position: absolute;
	bottom: 0%;
	z-index: 2;
	width: 100%;
	height: 20px;
	@include large {
		background-image: url('./assets/wave.png');
		height: 60px;
		background-repeat: repeat-x;
	}
}
