@import '@/assets/scss/_config.scss';
.productGallery {
	width: 100%;
	max-width: 526px;
	height: 100%;
	max-height: 650px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	@include large {
		gap: 24px;
	}
}
.mainImage {
	height: 250px;
	min-width: 351px;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;

	@include large {
		height: auto;
		width: 100%;
		max-width: 526px;
		max-height: 526px;
		aspect-ratio: 1/1;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.thumbnailList {
	display: flex;
	gap: 16px;
	height: 80px;
	width: 100%;
	max-width: 526px;
	min-width: 351px;
	overflow-x: auto;

	@include large {
		gap: 24px;
		height: 100px;
		overflow-x: visible;
	}

	.thumbnail {
		flex: 0 0 calc((100% - 48px) / 4);
		height: 100%;
		aspect-ratio: 1 / 1;
		cursor: pointer;
		overflow: hidden;
		border-radius: 8px;
		border: 2px solid transparent;
		transition: border-color 0.2s;
		@include large {
			flex: 0 0 calc((100% - 72px) / 4);
		}

		&.active {
			border-color: $primary-300;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.productInfo {
	display: flex;
	flex-direction: column;
	gap: 16px;
	@include large {
		gap: 24px;
	}
	.textContent {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-top: 16px;
		margin-bottom: 16px;
		color: $gray-400;
		@include large {
			font-size: 20px;
		}
	}
	.verifiedInfo {
		display: flex;
		align-items: center;
		gap: 8px;
		.verifiedBadge {
			height: 32px;
			width: 32px;
			object-fit: cover;
			@include large {
				height: 48px;
				width: 48px;
			}
		}
	}
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	@include large {
		flex-direction: row;
	}
	.customButton1 {
		width: 100%;
		background-color: $gray-100;
		color: $black;
		border: 1px solid $gray-200;
		&:hover {
			background-color: $primary-100;
			color: $primary-400;
			border-color: $primary-300;
		}
	}
	.customButton2 {
		width: 100%;
		background-color: $primary-300;
		color: $white;
		&:hover {
			background-color: $primary-200;
			color: $white;
		}
	}
}
.farmerBg {
	position: relative;
	background-image: url('@/assets/images/storyBg.jpg');
	&::before {
		@include large {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 60px;
			background-repeat: repeat-x;
			transform: scaleY(-1);
			background-image: url('@/assets/images/wave.png');
		}
	}
	&::after {
		@include large {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 60px;
			background-repeat: repeat-x;
			background-image: url('@/assets/images/wave.png');
		}
	}
}
.farmerImage {
	height: 200px;
	width: 351px;
	overflow: hidden;
	@include large {
		height: 280px;
		width: 416px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
