.hero-slide-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.blackScreen{
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
        @include large{
          height: 960px;
        }
    }
}
.hero-banner-img{
  width: 100%;
  height: 560px;
  object-fit: cover;
  display: block;
  @include large{
    height: 960px;
  }
  }

.hero-content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-height: 195px;

}

.wave{
  background-image: url('../../images/Home/mobile-wave.png');
  position: absolute;
  bottom: 0%;
  z-index: 2;
  width: 100%;
  height: 20px;
  @include large{
    background-image: url('../../images/Home/wave.png');
    height: 60px;
    background-repeat: repeat-x;
  }
}
.search-box{
      @include large{
      width: 450px;
    }
    .input-group:focus-within{
      border: 1px solid $primary-400;
      border-radius: 0.375rem;
    }
 .search-input {
  background-color: $white;
  line-height: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-right: none;
  &:focus{
    border-color: #dee2e6;
  }
  }
}

.section-title-decorated{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: $primary-400;
    border-radius: 100px;
  }
}


.text-truncate-container{
  height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 30px
}