.hero-slide-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.blackScreen{
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
}
.hero-banner-img{
  width: 100%;
  height: 560px;
  object-fit: cover;
  display: block;
  @include large{
    height: 960px;
  }
  }

.hero-content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-height: 195px;

}

.wave{
  background-image: url('../../images/Home/mobile-wave.png');
  position: absolute;
  bottom: 0%;
  z-index: 2;
  width: 100%;
  height: 20px;
  @include large{
    background-image: url('../../images/Home/wave.png');
    height: 60px;
    background-repeat: repeat-x;
  }
}
.search-box{
  @include large{
    width: 450px;
  }
  .input-group:focus-within{
    border: 1px solid $primary-400;
    border-radius: 0.375rem;
  }
 .search-input {
  background-color: $white;
  line-height: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-right: none;
    &:focus{
      border-color: #dee2e6;
    }
  }
}
.section-title-decorated{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: $primary-400;
    border-radius: 100px;
  }
}
.text-truncate-container{
  height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 30px
}
.category-section{
  position: relative;
  width: 100%;
  background-color: transparent;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: #EFF7D899, $alpha: 0.6);
    z-index: -1;
      @include large{
        width: calc(100% - 120px);
        border-radius: 200px 0 0 200px;
      }
  }
}
.product-category-card{
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  @include large{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    height: 400px;

  }
  &:nth-child(odd){
    @include large{
      flex-direction: row-reverse;
    }
  }

  .product-category-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
      @include large{
        width: 636px;
        height: 100%;
          &.img-rounded-odd {
            border-radius: 60px 16px 60px 16px;
          }
          &.img-rounded-even {
            border-radius: 16px 60px 16px 60px;
          }
      }
  }
  .product-category-content{
    height: 100%;
    flex-grow: 1;
    @include large{
      width: 526px;
      flex-shrink: 0;
    }
  }
  .product-category-icon{
    height: 60px;
    width: 60px;
    @include large{
      margin-top: 64px;
      height: 120px;
      width: 120px;
    }
  }
}