@import '@/assets/scss/helpers';

// 背景 & 外框
.bg {
	background-color: $white;
	border-radius: 8px;
	padding: 12px;
	box-shadow: 0px 4px 80px rgba(178, 178, 178, 0.2);

	@include large {
		padding: 20px;
	}
}

// 桌面版表格
.table {
	width: 100%;
	margin: 0;
	border-collapse: separate;
	border-spacing: 0;

	td,
	th {
		vertical-align: middle;
		text-align: center;
	}

	td {
		padding: 24px 12px;
		background-color: $white;
	}

	th[scope='col'] {
		background-color: $secondary-50;
		font-weight: 700;
		color: $gray-400;
		padding: 12px;
	}

	th[scope='row'] {
		text-align: left;
		font-weight: 400;
		color: $gray-400;
		padding: 24px 12px;
	}
	&.bordered {
		tr {
			&:not(:last-child) {
				td {
					border-bottom: 1px solid $gray-200;
				}
			}
		}
	}
}

// 表格圓角
thead tr th:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

thead tr th:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}