@import '@/assets/scss/helpers';

.bg{
  background-image: url(./assets/storyBg.jpg);
  position: relative;
  &::before{
    @include large{
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 60px;
      background-repeat: repeat-x;
      transform: scaleY(-1);
      background-image: url('@/assets/images/wave.png');
    }
  }
  &::after{
      @include large{
      content: "";
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
      height: 60px;
      background-repeat: repeat-x;
      background-image: url('@/assets/images/wave.png');
    }
  }
}
.introContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 36px;
    @include large{
    flex-direction: row;
    align-items: self-start;
    gap: clamp(20px, 10.3%, 134px);
    margin-top: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    }

    .introImg{
      @include large{
        flex: 0 1 416px;
        min-width: 0;
      }
    }
    .textContent{
      padding: 16px;
        @include large{
        flex: 0 1 746px;
        min-width: 0;
        padding-top: 0;
        }
    }
}