@import '@/assets/scss/helpers';

.searchBox{
  width: 100%;

  &.home{
    @include large{
      width: 450px;
    }
  }
  
  .customSearchBar{
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 8px;
    padding: 16px 16px;
    gap: 8px;
    border: 1.6px solid $gray-200;
    transition: all 0.2s ease;

    &:focus-within{
      border: 1px solid $primary-400;
    }
    .searchInput{
      flex: 1;
      border: none;
      background: transparent;
      outline: none;
      font-size: 16px;
      line-height: 24px;

      &:focus::placeholder{
        color: $black;;
      }
      &::placeholder{
        color: $gray-300;
      }
    }
    .searchBtn{
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;

      .searchBtnIcon {
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  &.home {
    .customSearchBar {
      padding: 20px 16px;
      border: 1px solid transparent;

      .searchInput {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
}