@import '@/assets/scss/helpers';

// 進度條
.step {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 32px;
	margin-bottom: 32px;
	@include large {
		margin-top: 0;
		margin-bottom: 48px;
	}
}

.stepItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0px 4px;
	@include large {
		padding: 0px 12px;
	}
}

.stepCircle {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid $primary-400;
	color: $primary-400;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;

	&.active {
		background-color: $primary-400;
		color: $white;
	}

	@include large {
		width: 40px;
		height: 40px;
	}
}

.stepText {
	margin-top: 8px;
	color: $primary-400;
	font-size: 12px;
	font-weight: 700;
	@include large {
		margin-top: 12px;
		font-size: 16px;
	}
}

.stepLine {
	height: 1px;
	background-color: $primary-400;
	width: 49px;
	margin: 0 8px;
	@include large {
		width: 72px;
	}
}
